body {
    background: linear-gradient(to right, red, blue);
    overflow-x: hidden;
}

/* Divs */
#camel {
    width: 55%;
}

#chameleon {
    width: 60%;
}

#pigeon {
    width: 55%;
}

/* Div Titles */
#camelTitle {
    float: right;
    color:#FCDB61;
}

#chameleonTitle {
    float: right;
    color:#CDDC26;
}

#pigeonTitle {
    float: right;
    color: #53C4CC;
}

.divDivider {
    width: 50%;
}

/* Others */
#title {
    text-align: center;
    background: linear-gradient(to right, blue, red);
    color: #EE7F7F;
}

.factsDivider {
    width: 182.5%;
}

.image {
    width: 492px;
    height: 410px;

    border-style: ridge;
    border-width: 10px;
    border-radius: 12.5%;
}

.facts {
    text-align: center;
}

ol {
    list-style-type: upper-roman;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}